/fish/*
!/fish/config.fish
!/fish/fisherman
/fisherman/*
/fisher/*
/htop/*
/pudb/*
Pipfile.lock
/lxc/*
/coc/*
/tmux/plugins/
/configstore/
.venv/
/go/*
/lemonade.toml
/TabNine/last_heartbeat
/TabNine/defaults/
/TabNine/monitoring/
