/fish/completions/
/fish/conf.d/
/fish/fish_variables
/fish/functions/
/fisherman/*
/fisher/*
/htop/*
/pudb/*
Pipfile.lock
/lxc/*
/coc/*
/tmux/plugins/
/configstore/
.venv/
/go/*
/lemonade.toml
/TabNine/last_heartbeat
/TabNine/defaults/
/TabNine/monitoring/
/TabNine/metrics.db
