/fish/completions/
/fish/conf.d/
/fish/fish_variables
/fish/functions/
/fisherman/*
/fisher/*
/htop/*
/pudb/*
/lxc/*
/coc/*
/tmux/plugins/
/configstore/
.venv/
/go/*
!/TabNine/tabnine_config.json
/TabNine/*
/pulse/*
Pipfile.lock
/cni/
