root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[*.rs]
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[*.{c,h,cc,hh,cpp,hpp}]
indent_size = 2

[Makefile*]
indent_style = tab

[*.{mk,am,am.*}]
indent_style = tab
